* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

input {
    border: none;


}

select {
    border: none;
}

table {
    font-size: 15px;
    margin: 2px;
    
}

p {
    font-size: 15px;
}

@media print {
    @page {
        size: 21cm 13.5cm;
        margin: 5mm;

    }
    body {
        font-size: 50%; /* 设置打印时的字体大小 */
      }
}

