<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <title>navbar</title>
    
</head>
<body class="justify-content-center row">
    <ul class="nav nav-tabs  navbar-dark bg-light d-print-none">
        <li class="nav-link">
            <a href="/" class="nav-link active">主页</a>
        </li>
        
        <li class="nav-link">
            <a href="#" class="nav-link"><img src="https://bootstrap5.hexschool.com/docs/5.1/assets/brand/bootstrap-logo.svg" class="d-inline-block align-text-top" width="30" height="24px" alt="">数据录入</a>
        </li>
        <li class="nav-link">
            <a href="/Scheduled_Tasks" class="nav-link">数据显示</a>
        </li>
        <li class="nav-link">
            <a href="/LSMqueryMaterial" class="nav-link">LSM物料查询</a>
        </li>
        <li class="nav-link">
            <a href="/queryMaterial" class="nav-link">物料查询</a>
        </li>
        <li class="nav-item dropdown m-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              单据打印模板
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " href="/yunHaiPrint">云海模板</a></li>
              <!-- <li><a class="dropdown-item " href="/jinLiPrint">精力模板/康烨</a></li> -->
              <li><a class="dropdown-item " href="/jiuMaoPrint">九茂模板</a></li>
              <li><a class="dropdown-item " href="/qianJi">千吉模板</a></li>
              <li><a class="dropdown-item " href="/zhidongli">智动力</a></li>
              <li><a class="dropdown-item " href="#">其它模板待续</a></li>
              
            </ul>
        </li>
        
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>